.bg-black {
  .filter {
    background-color: $black;

    &__inner {
      border-color: rgba(255, 255, 255, 0.1);
    }
  }

  .product-card--dark {
    background-color: #181818;
    color: #fff;
    box-shadow: 0 0 0 0 #181818;
  }

  .product-more {
    background-color: #181818;
    color: #fff;
  }
}
