.main-map {
  text-align: center;
  min-height: 415px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-image: url('//liberta.ua/img/main-map.jpg');

  .btn-secondary {
    width: 195px;
    max-width: 100%;
  }
}
