.main-map {
  text-align: center;
  min-height: 415px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .btn-secondary {
    width: 195px;
    max-width: 100%;
  }

  .section-parallax__bg {
    background-image: url('//liberta.ua/img/main-map.jpg');
  }
}
