.manufacture {
  text-align: center;
  color: #fff;
  min-height: 415px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .section-parallax__bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('//liberta.ua/img/main-making.jpg');
  }
}
