.service {
  &__intro {
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    background-image: url(//liberta.ua/img/service.jpg);
    min-height: 290px;
  }

  &__step {
    padding-top: 1rem;

    &-title {
      float: left;
      width: auto;
    }

    &-content {
      display: none;
      clear: both;
    }

    &--second {
      border-top: 2px solid $border-color;
      padding-bottom: 50px;

      .service__step-title {
        color: $border-color;
      }
    }

    &.active {
      padding-bottom: 50px;

      .service__step-title {
        color: inherit;
      }

      .service__step-content {
        display: block;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .service {
    &__intro {
      min-height: 200px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .service {
    &__intro {
      min-height: auto;
      background-image: none;
    }

    &__step {
      &--first {
        border-top: 2px solid $border-color;
      }
    }
  }
}
