.service {
  &__intro {
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    background-image: url(//liberta.ua/img/service.jpg);
    min-height: 290px;
  }

  &__step {
    padding-top: 20px;
    padding-bottom: 50px;

    legend {
      float: left;
    }

    &--second {
      border-top: 2px solid $border-color;

      legend {
        color: $border-color;
      }
    }
  }
}
