.subscribe {
  padding: 20px 0;
  background-color: $primary;
  color: #fff;
  font-weight: 500;

  &__form-control {
    border-color: transparent;
    width: 300px;
    max-width: 100%;
  }

  &__btn {
    width: 150px;
    max-width: 100%;
    background-color: $dark;
    border-color: $dark;
  }
}
