.border-2 {
  border-width: 2px !important;
}

.border-4 {
  border-width: 4px !important;
}

.btn-unstyled {
  padding: 0;
  border: 0;
  background-color: transparent;
}

.font-weight-500 {
  font-weight: 500;
}
