.border-2 {
  border-width: 2px !important;
}

.border-4 {
  border-width: 4px !important;
}

.btn-unstyled {
  padding: 0;
  border: 0;
  background-color: transparent;
}

.font-weight-500 {
  font-weight: 500;
}

.cursor-pointer {
  cursor: pointer;
}

strong {
  font-weight: bold;
}

.gm-style-iw {
  text-align: center;

  > div {
    img {
      display: block;
      width: auto;
      height: auto;
      max-width: 180px;
    }
  }

  h6 {
    margin-top: 5px;
    margin-bottom: 3px;
  }

  p {
    margin-bottom: 0;
  }

  .get-directions {
    margin-top: 5px;
    font-weight: 500;
    display: block;
    color: $primary;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    top: 15px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
