$font-family-sans-serif: 'Roboto', 'Helvetica', sans-serif;
$font-weight-base: 300;
$body-color: #000;

$headings-font-family: 'KievitPro', 'Helvetica', sans-serif;
$headings-font-weight: 800;
$headings-margin-bottom: 1rem;
$h1-font-size: 3rem;

$primary: #2c8a7b;
$secondary: #e9416d;
$pink: #fdecf0;
$light: #f8f8f8;
$dark: #1d1d1d;
$text-muted: #808080;

$theme-colors: (
  'pink': $pink,
);

$spacer: 1rem;
$spacers: (
  20p: 20px,
  30p: 30px,
  40p: 40px,
  60p: 60px,
);

$font-sizes: (
  14: 14px,
  16: 16px,
);

$row-sizes: (
  16: 8px,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
);

$container-max-widths: (
  sm: 540px,
  md: 740px,
  lg: 960px,
  xl: 1280px,
);

$border-color: #f0f0f0;

$input-btn-font-size: 0.875rem;
$input-btn-padding-y: 0.5rem;
$input-btn-padding-x-sm: 1rem;
$input-btn-font-size-sm: 0.75rem;
$input-btn-border-radius: 20px;

$input-border-radius: $input-btn-border-radius;
$input-border-radius-sm: $input-btn-border-radius;

$btn-border-radius: $input-btn-border-radius;
$btn-border-radius-sm: $input-btn-border-radius;

$breadcrumb-font-size: 12px;
$breadcrumb-padding-y: 1rem;
$breadcrumb-padding-x: 0;
$breadcrumb-margin-bottom: 0;
$breadcrumb-bg: transparent;
$breadcrumb-divider-color: rgba($text-muted, 0.3);
$breadcrumb-active-color: $text-muted;
$breadcrumb-divider: quote('|');

$dropdown-border-width: 0;
$dropdown-link-color: inherit;
$dropdown-link-hover-color: $secondary;
$dropdown-link-hover-bg: transparent;
$dropdown-link-active-bg: transparent;
$dropdown-link-active-color: $secondary;
